/***************************
  Linkedin: uxpablo 
  Github: codeplusux  
****************************/

/*** GENERAL ***/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #6e4ae3;
}

ul li {
  list-style: none;
}

/*** LAYOUT ***/

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

#neighborhood,
#content {
  border: 1px solid rgb(148, 147, 147);
}

#neighborhood {
  display: flex;
  width: 20%;
}

#content {
  display: flex;
  flex-wrap: wrap;
  width: 79.5%;
}

/*** DETAILS ***/

.mainInfo {
  width: 100%;
  height: 90%;
  display: flex;
}

.detail,
.phone {
  width: 50%;
}

.generalInfo {
  width: 100%;
  height: 10%;
}

/*** FONTS ***/

h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

/*** BREACK POINTS ***/

@media (max-width: 575.98px) {
  #main {
    flex-wrap: wrap-reverse;
  }

  #neighborhood,
  #content {
    width: 100%;
  }

  #neighborhood {
    height: 20%;
  }

  #content {
    height: 79%;
  }

  .mainInfo {
    flex-wrap: wrap;
  }

  .detail,
  .phone {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #main {
    flex-wrap: wrap-reverse;
  }

  #neighborhood,
  #content {
    width: 100%;
  }

  #neighborhood {
    height: 20%;
  }

  #content {
    height: 79%;
  }

  .mainInfo {
    flex-wrap: wrap;
  }

  .detail,
  .phone {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #main {
    flex-wrap: wrap-reverse;
  }

  #neighborhood,
  #content {
    width: 100%;
  }

  #neighborhood {
    height: 20%;
  }

  #content {
    height: 79%;
  }

  .mainInfo {
    flex-wrap: wrap;
  }

  .detail,
  .phone {
    width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #main {
    flex-wrap: wrap-reverse;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
}
