/***************************
  Linkedin: uxpablo 
  Github: codeplusux  
****************************/

/*** GENERAL ***/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #6e4ae3;
}

ul li {
  list-style: none;
  float: left;
  padding-right: 1em;
}

a {
  display: block;
}

/*** LAYOUT ***/

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

#neighborhood {
  display: flex;
  width: 20%;
}

#content {
  display: flex;
  flex-wrap: wrap;
  width: 79.5%;
}

/*** DETAILS ***/

.mainInfo {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
}

.detail,
.phone {
  width: 50%;
}

.detail {
  padding: 0em;
}

.generalInfo {
  width: 100%;
  height: 10%;
  padding-left: 9em;
}

.brand {
  width: 255px;
  height: 104px;
}

.brand .float-left {
  padding-left: 0rem;
  padding-top: 0.8rem;
}

.brand .float-right {
  padding-right: 2.4rem;
  padding-top: 1rem;
}

.brand .float-right h1 {
  font-size: 24px;
}

.tagline {
  margin-top: -8px;
  opacity: 0.5;
}

.beta {
  margin-top: -19px;
  font-weight: bold;
}

.phone div {
  width: 70%;
  padding: 6em 3em 3em 3em;
}

.invite {
  padding-top: 2em;
  font-size: 2em;
}

.stores li a {
  width: 8em;
}

.instructions {
  padding-top: 1em;
  font-size: 1.2em;
}

/*** FONTS ***/

h1,
h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

/*** BREACK POINTS ***/

@media (max-width: 575.98px) {
  #main {
    flex-wrap: wrap;
  }

  #content {
    width: 100%;
    height: 100%;
  }

  #neighborhood {
    display: none;
  }
  .mainInfo {
    flex-wrap: wrap;
    height: auto;
  }

  .detail,
  .phone {
    width: 100%;
  }

  .detail {
    padding: 1em 2em 0em 2em;
  }

  .invite {
    padding-top: 1em;
    font-size: 1.4em;
  }

  .instructions {
    font-size: 1em;
  }

  .generalInfo {
    padding: 0;
    text-align: center;
  }

  .stores li a {
    width: 9em;
  }

  ul li {
    margin-top: 1em;
  }

  .phone div {
    width: 75%;
    padding: 2em 0em 0em 0em;
    margin: 0 auto;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #main {
    flex-wrap: wrap;
  }

  #content {
    width: 100%;
  }

  #neighborhood {
    display: none;
  }

  #content {
    height: 79%;
  }

  .mainInfo {
    flex-wrap: wrap;
    height: auto;
  }

  .detail,
  .phone {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #main {
    flex-wrap: wrap;
  }

  #content {
    width: 100%;
  }

  #neighborhood {
    display: none;
  }

  #content {
    height: 79%;
  }

  .mainInfo {
    flex-wrap: wrap;
    height: auto;
  }

  .detail,
  .phone {
    width: 100%;
  }

  .detail {
    padding: 3em 6em 0em 6em;
  }

  .invite {
    padding-top: 1em;
  }

  .stores li a {
    width: 10em;
  }

  .phone div {
    width: 54%;
    padding: 3em 0em 0em 0em;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #main {
    flex-wrap: wrap-reverse;
  }
}

/* Extra large devices */
@media (min-width: 1200px) {
  .detail {
    padding: 8em 0em 0em 6em;
  }

  .invite {
    padding-top: 1em;
  }

  .phone div {
    width: 80%;
    padding: 5em 3em 3em 3em;
  }

  .instructions {
    padding-top: 3em;
  }

  .stores {
    margin-top: 2em;
  }

  .stores li a {
    width: 9em;
  }
}
